<!DOCTYPE html>
<html lang="en">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
    <div class="container-fluid">
        <div class="banner">
            <div style="background-image: url(https://careplusvn.com/Uploads/t/ba/banner-viet_0006499.jpeg);"></div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Bệnh tiêu hóa</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="content">
                        <h3>TƯ VẤN KHÁM SÀNG LỌC BỆNH ĐƯỜNG TIÊU HÓA</h3>
                        <div class="red-line"></div>
                        <div class="heading-title">
                            Tỷ lệ người Việt Nam mắc các bệnh về đường tiêu hóa khá cao. Tuy nhiên do tâm lý sợ và ngại
                            đi bệnh viện là nguyên nhân chính khiến diễn biến bệnh trầm trọng thêm. Khám sàng lọc bệnh
                            đường tiêu hóa là việc làm cần thiết giúp bảo vệ sức khỏe và phát hiện sớm nhiều bệnh nguy
                            hiểm.
                        </div>
                        <div class="full-description">
                            <h2>1. Bệnh đường tiêu hóa là gì? Những nguyên nhân chính gây bệnh</h2>
                            <h3>1.1. Sơ lược về đường tiêu hóa</h3>
                            <p>Hệ thống tiêu hóa (Digestive system) bao gồm các thành phần: Đường tiêu hóa, gan, tuyến
                                tụy và túi mật. Chức năng của hệ thống này là giúp cơ thể tiêu hóa thức ăn.</p>
                            <p>Đường tiêu hóa (Gastrointestinal tract - GI) là một phần của hệ thống tiêu hóa. Cấu tạo
                                của đường tiêu hóa gồm một loạt các cơ quan rỗng tham gia vào một ống xoắn dài từ miệng
                                đến hậu môn, cụ thể:</p>
                            <ul>
                                <li>Miệng.</li>
                                <li>Thực quản.</li>
                                <li>Dạ dày.</li>
                                <li>Ruột non.</li>
                                <li>Ruột già (đại tràng và trực tràng).</li>
                                <li>Hậu môn.</li>
                            </ul>
                            <div style="text-align: center;"><img alt="khám sàng lọc bệnh đường tiêu hóa"
                                    src="https://careplusvn.com/files/tu-van-kham-sang-loc-benh-duong-tieu-hoa-1.png"
                                    style="height: auto; width: 700px;">
                                <p><em>Cấu tạo hệ tiêu hóa ở người</em></p>
                            </div>
                            <h3>1.2. Bệnh đường tiêu hóa là gì?</h3>
                            <p>Bệnh đường tiêu hóa là những bệnh lý ảnh hưởng trực tiếp lên những cơ quan của đường tiêu
                                hóa. Một số bệnh đường tiêu hóa chỉ kéo dài trong một thời gian ngắn và có thể được khắc
                                phục ngay tại nhà. Các bệnh còn lại là mãn tính, cần điều trị bởi bác sĩ chuyên môn
                                trong thời gian dài.</p>
                            <h3>1.3. Những nguyên nhân chính gây bệnh về đường tiêu hóa</h3>
                            <ul>
                                <li>Ăn uống không đều độ.</li>
                                <li>Hay bị căng thẳng, stress</li>
                                <li>Lớn tuổi.</li>
                                <li>Ô nhiễm ở môi trường sống.</li>
                                <li>Sức đề kháng kém.</li>
                                <li>Lối sống thiếu khoa học (ít tập luyện thể thao, ngủ trễ, không nghỉ ngơi hợp lý,…)</li>
                            </ul>
                            <h2>2. Danh sách bệnh đường tiêu hóa thường gặp</h2>
                            <h3>2.1. Bệnh tả</h3>
                            <p><strong>Mô tả: </strong>Bệnh tả (cholerae) là một bệnh truyền nhiễm cấp tính, gây dịch đường tiêu hoá do phẩy khuẩn tả Vibrio cholerae gây ra. Biểu hiện chủ yếu bằng nôn và tiêu chảy với số lượng lớn dẫn đến mất nước và điện giải trầm trọng, gây sốc nặng</p>
                            <p><strong>Triệu chứng</strong></p>
                            <ul>
                                <li>Biểu hiện bằng sôi bụng, đầy bụng, tiêu chảy vài lần.</li>
                                <li>Tiêu chảy liên tục rất nhiều lần với khối lượng lớn, có khi hàng chục lít một ngày. Phân tả điển hình toàn nước, màu trắng lờ đục như nước vo gạo, không có nhầy máu.</li>
                                <li>Nôn, bệnh nhân nôn rất dễ dàng, lúc đầu ra thức ăn, sau toàn nước.</li>
                                <li>Bệnh nhân thường không sốt, ít khi đau bụng.</li>
                                <li>Tình trạng mất nước và điện giải gây mệt lả, chuột rút...</li>
                            </ul>
                            <h3>2.2. Loét dạ dày - tá tràng</h3>
                            <p><strong>Mô tả:</strong> 
                                <p>Loét dạ dày tá tràng (Peptic ulcer) là một bệnh mạn tính, diễn biến có tính chu kỳ. Tổn thương là những ổ loét niêm mạc dạ dày-tá tràng, ổ loét này có thể xâm lấn sâu hơn qua lớp dưới niêm mạc; vị trí ổ loét ở dạ dày (loét dạ dày) hoặc ở hành tá tràng (loét hành tá tràng).</p>
                                <p>Có khoảng 10-15% dân chúng trên thế giới bị bệnh loét dạ dày - tá tràng.</p>
                            </p>
                            <p><strong>Triệu chứng</strong></p>
                            <ul>
                                <li>Đau bụng, khó tiêu, buồn nôn.</li>
                                <li>Ợ hơi, ợ chua và nóng rát.</li>
                                <li>Đau vùng bụng rốn.</li>
                                <li>Vị trí đau thường là vùng thượng vị. Nếu ổ loét nằm ở mặt sau thì có thể đau lan ra sau lưng. Ngoài ra có thể đau ở bất kỳ chỗ nào trên bụng.</li>
                                <li>Đau âm ỉ, đau tức hoặc đau từng cơn.</li>
                                <li>Rối loạn tiêu hóa gây táo bón hoặc tiêu chảy.</li>
                                <li>Mất ngủ do cảm giác đầy bụng hoặc đau bụng râm râm về đêm.</li>
                                <li>Mệt mỏi, suy nhược cơ thể. Cân nặng giảm sút, da xanh sạm da.</li>
                                <li>Chán ăn, ăn xong có thể buồn nôn…</li>
                            </ul>
                            <h3>2.3. Lỵ Amip</h3>
                            <p><strong>Mô tả:</strong>
                                <p>-	Lỵ amip Là tình trạng nhiễm trùng ở ruột già do Entamoeba histolytica</p>
                                <p>
                                    -	Theo tổ chức Y tế thế giới , bệnh amip được phân loại như sau :
                                    <p>Bệnh amip không triệu chứng</p>
                                    <p>Bệnh amip có biểu hiện lâm sàng:</p>
                                    <p>-	Bệnh amip ruột: Lỵ amip, Viêm đại tràng mãn, U Amip, Viêm ruột thừa do Amip</p>
                                    <p>-	Bệnh amip ngoài ruột: Bệnh Amip gan, phổi, não, lách, da ...</p>
                                </p>
                            </p>
                            <p><strong>Triệu chứng</strong></p>
                            <ul>
                                <li>Toàn thân ít thay đổi, có thể sốt nhẹ, không có dấu hiệu mất nước</li>
                                <li>Hội chứng lỵ: Đau bụng quặn, mót rặn .</li>
                                <li>Tính chất phân: lúc đầu bệnh nhân có thể đi cầu phân lỏng về sau phân nhiều nhầy lẫn máu đỏ hay nâu, trung bình 10-12 lần/ngày, có khi phân thành khuôn, nhầy máu bám xung quanh và cuối cùng có vài giọt máu.</li>
                                <li>Ở người già và trẻ suy dinh dưỡng, hội chứng lỵ không điển hình, có khi chỉ đi cầu máu.</li>
                            </ul>
                            <h3>2.4. Sỏi mật</h3>
                            <p><strong>Mô tả:</strong>
                                <p>-	Sỏi mật (Gallstones Cholelithiasis) là bệnh gây ra do có sự hình thành và hiện diện của những viên sỏi (nhỏ, to hoặc sỏi bùn) nằm trong lòng đường mật (trong gan, ngoài gan hoặc túi mật)</p>
                            </p>
                            <p><strong>Triệu chứng</strong></p>
                            <ul>
                                <li><strong>Đau bụng</strong>: có đặc điểm là đau hạ sườn phải mức độ vừa hay nặng, khó phân biệt với cơn đau viêm túi mật cấp, cơn đau thường khởi phát đột ngột, kéo dài trong nhiều giờ, cơn đau có thể lan lên vai phải, ra sau lưng</li>
                                <li><strong>Sốt rét run</strong>: sốt là do nhiễm trùng đường mật, đặc điểm quan trọng của sốt trong nhiễm trùng đường mật là sốt rét run nên có thể nhầm lẫn với bệnh sốt rét.</li>
                                <li><strong>Vàng da</strong>: có đặc điểm là vàng da từng đợt, tái đi tái lại, vàng da có thể rất nhẹ hoặc không có vàng da. Có khoảng 30% bệnh nhân có sỏi ống mật chủ không có vàng da. Vàng da nhẹ chỉ thấy rõ là kết mạc mắt vàng, tuy nhiên có nhiều trường hợp tắc mật hoàn toàn kéo dài thì vàng da rất sậm màu.</li>
                            </ul>
                            <h3>2.5. Thương hàn</h3>
                            <p><strong>Mô tả:</strong>
                                <p>-	Thương hàn do Salmonella typhi, Salmonella paratyphi A,B,C gây ra.</p>
                                <p>-	Lây theo đường tiêu hóa, có bệnh cảnh lâm sàng phong phú: sốt, nhức đầu, thường gây sốt kéo dài nếu không được điều trị, có thể gây biến chứng.</p>
                                <p>-	Là bệnh xảy ra quanh năm, cao điểm vào mùa hè & thu, gây dịch.</p>
                            </p>
                            <p><strong>Triệu chứng</strong></p>
                            <ul>
                                <li>Ảnh hưởng toàn thân : nhức đầu, mệt mỏi, mất ngủ.</li>
                                <li>Sốt: lúc đầu nhẹ, tăng dần lên trong vòng 4-7 ngày, sáng thấp chiều cao, chênh 0,5 +1,0C, sốt nóng có khi kèm theo lạnh run.</li>
                                <li>Rối loạn tiêu hóa: chán ăn, táo bón, buồn nôn. Chảy máu cam: 1+2 lần. phân lỏng vàng, có khi đen, 2 -3 lần/ngày, có khi tiêu chảy nhiều lần, chán ăn, đau bụng lan tỏa.</li>
                                <li>Khám lâm sàng: lưỡi đỏ hoặc trắng bẩn, bụng chướng nhẹ, diện lách dục, mạch nhiệt phân ly ( dấu cổ điển) hiện nay ít gặp.</li>
                            </ul>
                            <h3>2.6. Viêm gan do rượu</h3>
                            <p><strong>Mô tả:</strong>
                                <p>-	Viêm gan do rượu là một tình trạng bệnh lý viêm của gan do uống nhiều rượu, dung nạp vào cơ thể lượng lớn rượu có nồng độ cồn cao trong một thời gian dài.</p>
                            </p>
                            <p><strong>Triệu chứng</strong></p>
                            <ul>
                                <li>Chán ăn</li>
                                <li>Sụt cân</li>
                                <li>Buồn nôn, hay nôn ói</li>
                                <li>Bụng sưng đau ở vùng bụng bên phải</li>
                                <li>Vàng da, vàng lòng trắng mắt</li>
                                <li>Mệt mỏi</li>
                                <li>Tinh thần kém minh mẫn</li>
                                <li>Dễ bị bầm tím hoặc chảy máu</li>
                                <li>Suy thận, suy gan</li>
                            </ul>
                            <h3>2.7. Viêm gan virus B mạn tính</h3>
                            <p><strong>Mô tả:</strong></p>
                            <p><strong>Triệu chứng</strong></p>
                            <p>-	Phần lớn người mắc bệnh viêm gan B mạn tính lại cảm thấy hoàn toàn bình thường, ít có các triệu chứng. Với những người bệnh đã chuyển biến bệnh nặng thì xuất hiện những triệu chứng như:</p>
                            <ul>
                                <li>Cơ thể mỏi mệt.</li>
                                <li>Chán ăn bỏ bữa.</li>
                                <li>Rối loạn tiêu hóa.</li>
                                <li>Sụt cân không rõ nguyên nhân.</li>
                                <li>Đau tức hạ sườn phải.</li>
                                <li>Có dấu hiệu vàng mắt, vàng da.</li>
                                <li>Dễ bị ngứa, nổi mề đay</li>
                                <li>Nước tiểu đậm  màu.</li>
                            </ul>
                            <p>-	Giai đoạn này nếu không điều trị kịp thời, bệnh viêm gan B mạn tính sẽ chuyển biến rất nguy hiểm, có thể biến chứng thành bệnh xơ gan, ung thư gan, ảnh hưởng đến tính mạng.</p>
                            <h3>2.8. Viêm gan virus C</h3>
                            <p><strong>Mô tả:</strong>
                                <p>-	Tình trạng nhiễm trùng Gan do Siêu vi Viêm Gan C (HCV) gây ra. Bệnh khiến các tế bào Gan bị viêm, gây rối loạn chức năng Gan. Theo thời gian, tình trạng viêm trong mô Gan có thể hình thành các tổn thương xơ chai vĩnh viễn, dẫn đến nhiều biến chứng như "Xơ Gan" và "Ung thư Gan".</p>
                                <p>-	Viêm Gan Siêu Vi C cấp tính: là tình trạng nhiễm trùng ngắn hạn, kéo dài trong vòng 6 tháng sau khi Virus xâm nhập vào cơ thể. Có khoảng 15-25% trường hợp nhiễm Virus C tự khỏi hẳn, không cần điều trị đặc hiệu nào. Tuy nhiên đa số viêm gan cấp tính đều dẫn đến mãn tính.</p>
                                <p>-	Viêm Gan Siêu Vi C mãn tính: là tình trạng nhiễm trùng kéo dài trên 6 tháng. Nếu không được điều trị, bệnh có thể tồn tại suốt đời và gây ra các vấn đề sức khỏe nghiêm trọng, bao gồm suy chức năng gan, xơ gan, ung thư gan và thậm chí là tử vong. Theo ước tính của Tổ chức Y tế Thế giới, toàn cầu có khoảng 71 triệu người đang bị nhiễm Virus Viêm Gan C mãn tính.</p>
                            </p>
                            <p><strong>Triệu chứng</strong></p>
                            <ul>
                                <li>Các triệu chứng không đặc hiệu như mệt mỏi, mỏi người, ăn uống kém, không ngon miệng, đầy bụng, khó tiêu, rối loạn đại tiện, đau bụng âm ỉ vùng hạ sườn phải,…</li>
                            </ul>
                            <h3>2.9. Viêm tụy cấp</h3>
                            <p><strong>Mô tả:</strong>
                                <p>-	Viêm tụy cấp (VTC) là tổn thương viêm nhu mô tuyến tụy cấp tính từ nhẹ đến nặng và có thể gây tử vong. Ở các nước phương Tây thì khoảng 20% bệnh nhân VTC có tiến triển nặng và trong số các ca nặng có 10-30% dẫn đến tử vong mặc dù được điều trị tích cực. Ở Việt Nam, VTC những năm gần đây cũng có xu hướng tăng, về mặt giải phẫu bệnh có hai thể viêm tụy phù nề và viêm hoại tử chảy máu</p>
                            </p>
                            <p><strong>Triệu chứng</strong></p>
                            <p>Các triệu chứng viêm tụy cấp có thể khác nhau, tùy thuộc vào từng nguyên nhân và mức độ nhưng thường gặp nhất bao gồm:</p>
                            <ul>
                                <li>Đau bụng trên</li>
                                <li>Đau bụng lan ra sau lưng</li>
                                <li>Sốt</li>
                                <li>Mạch nhanh</li>
                                <li>Buồn nôn/ nôn mửa</li>
                                <li>Chướng bụng</li>
                                <li>Ăn uống kém</li>
                            </ul>
                            <h3>2.10. Xơ gan</h3>
                            <p><strong>Mô tả:</strong></p>
                            <p>-	Xơ gan (Cirrhosis) là một quá trình tổn thương có tính lan tỏa, kéo dài ở gan, biểu hiện bằng:</p>
                            <ul>
                                <li>Viêm, hoại tử tế bào nhu mô gan</li>
                                <li>Sự tăng sinh xơ của tổ chức liên kết tạo sẹo xơ hóa</li>
                                <li>Sự hình thành các hạt tái tạo từ tế bào gan còn nguyên vẹn làm đảo lộn cấu trúc bình thường dẫn tới hình thành các u cục trong nhu mô gan</li>
                            </ul>
                            <p><strong>Triệu chứng</strong></p>
                            <ul>
                                <li>Ăn kém ngon, khó tiêu, nặng tức vùng thượng vị, giảm tình dục, rối loạn kinh nguyệt.</li>
                                <li>Với chán ăn, ăn chậm tiêu, đầy bụng, chảy máu chân răng, chảy máu cam, chảy máu dưới da, lông tóc dễ rụng, móng tay khum mặt kính đồng hồ, ngón tay dùi trống gặp trong xơ gan mật, mặt ngực và chi trên gầy, 2 chân phù mềm, da vàng nhẹ, thiếu máu, nốt giãn mạch hình sao ở ngực và lưng, hồng ban lòng bàn tay, môi đỏ, lưỡi bóng đỏ, viêm thần kinh ngoại biên, gan nhỏ lại.</li>
                                <li>Trướng hơi hoặc đi cầu phân sệt hoặc đi cầu ra máu, nôn máu</li>
                            </ul>
                            <h3>2.11. Lỵ trực tràng</h3>
                            <p><strong>Mô tả:</strong></p>
                            <p>-	Bệnh lỵ trực trùng là bệnh nhiễm khuẩn đường ruột cấp tính do vi khuẩn Shigella với biểu hiện lâm sàng đa dạng (25% có hội chứng lỵ rõ, 25% nhiễm khuẩn không triệu chứng. Đa số trường hợp chỉ có tiêu chảy nhẹ. Một số ít có diễn tiến mạn tính).</p>
                            <p><strong>Triệu chứng</strong></p>
                            <ul>
                                <li>Phân nhày máu, lượng phân càng về sau càng ít dần. Trường hợp nặng có thể đến 20 - 40 lần đi đại tiện/ngày. Đau bụng quặn từng cơn dọc khung đại tràng trước khi đại tiện. Khám bụng thường thấy đau thốn rõ ở nửa dưới bụng bên trái, vùng đại tràng sigma hoặc đau toàn bộ khung đại tràng.</li>
                                <li>Hội chứng nhiễm khuẩn: sốt cao 39- 400C, kèm ớn lạnh, đau nhức cơ toàn thân, mệt mỏi, biếng ăn, buồn nôn hoặc nôn. Ở trẻ nhỏ, có thể có co giật do sốt cao, hoặc do nhiễm độc thần kinh. Sốt có thể tiếp tục cao, nhưng thường sốt giảm sau vài ngày. Thể trạng suy sụp nhanh chóng, mệt mỏi hốc hác, môi khô, lưỡi vàng nâu.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-2"></div> -->
            </div>
        </div>
    </div>

    <div class="chat-icon">
        <!-- <i class="fa-solid fa-messages"></i> -->
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </div>

    <div class="chatbot-box">
        <button id="closeChatBot">  <!--&#x2716;-->
            <i class="fa fa-close" aria-hidden="true"></i>
        </button>
        <div class="text-intro"><span>Bắt đầu chat</span></div>
        <div id="chatList">
            <ul></ul>
        </div>
        <div class="message-box-wrap">
            <div class="message-box-con0" style="display: none;">
                <div class="message-box">
                    <input type="text" id="clientAnsTemp" style="display: none;">
                </div>
                <button id="send">Send</button>
            </div>
            <div class="message-box-client" style="display: block;">
                <div class="message-box">
                    <input type="text" id="clientAns">
                </div>
                <button id="send-client"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
            <div class="message-box-con1" style="display: none; justify-content: space-around;">
                <button id="confirm" class="btn btn-success">Xác nhận</button>
                <button id="noconfirm" class="btn btn-danger">Làm lại</button>
            </div>
        </div>
    </div>

    <!-- <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script> 

</body>
</html>